<div class="header">
  <div class="row">
    <div class="col-4">
      <div
        class="icon-circle"
        style="background-image: url('assets/images/list.png')"
      ></div>
    </div>
    <div class="col-4" style="padding: 0; margin: 0">
      <div class="semi-circle">
        <h2>CRIOS</h2>
        <p>Free Psd Template</p>
      </div>
    </div>
    <div class="col-4">
      <div
        class="icon-circle"
        style="background-image: url('assets/images/search.png')"
      ></div>
    </div>
  </div>
</div>
