<ion-content padding class="main-view">
  <div class="overlay"></div>
  <div class="modal_content">
    <div
      class="circle"
      style="
        background-image: url('assets/images/logo.png');
        background-repeat: no-repeat;
        background-position: center;
      "
    ></div>
    <div class="modal-content">
      <h2>Thanks for downloading our template!</h2>
      <p>Hope that you enjoy it well Check also our site</p>
      <ion-button
        expand="undefined"
        color="#e33048"
        fill="clear"
        class="visit-btn"
        (click)="close()"
        >www.symu.co</ion-button
      >
    </div>
  </div>
</ion-content>
