<div class="hero">
  <div class="row" style="height: 20%; margin: 60px 0">
    <div class="col-12" style="text-align: center">
      <h2>Simple PSD template with cool stuff</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button (click)="presentModal()">Explore template</button>
    </div>
  </div>
  <div class="row" style="height: 80%">
    <div
      class="col-12"
      style="
        background-image: url('assets/images/landing-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
      "
    ></div>
  </div>
</div>
