<ion-header class="no-box-shadow">
  <app-header></app-header>
</ion-header>
<ion-content class="home-content">
  <app-hero></app-hero>
  <app-services-component></app-services-component>
  <app-offers
    [image_1]="'ic1.png'"
    [image_2]="'ic2.png'"
    [title]="'Lorem ipsum dolor'"
    [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.'"
    [color]="'#000'"
    [display]="'inline'"
    [background_color]="'#f7f8fc'"
    [content_padding]="'0 60px'"
  >
    ></app-offers
  >
  <app-offers
    [content1_padding]="'16% 11% 0 11%'"
    [content2_padding]="'5% 11% 20% 11%'"
    [image_1]="'app1.png'"
    [image_2]="'app2.png'"
    [image_width]="'449px'"
    [image_height]="'677px'"
    [title]="'Lorem ipsum dolor'"
    [description]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur, venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.'"
    [color]="'#42AAFF'"
    [display]="'none'"
    [background_1]="'sn1-bg.png'"
    [background_2]="'sn2-bg.png'"
    [background1_position]="'-20% -3%'"
    [background2_position]="'100% 120%'"
  >
    ></app-offers
  >
  <app-founder></app-founder>
  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
</ion-content>
